<!-- source/flats/show.html.erb -->

<!-- Access data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- <%= image_tag "https://kitt.lewagon.com/placeholder/cities/#{flat.city_slug}", class: "page-banner"%> -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url(<%= "https://kitt.lewagon.com/placeholder/cities/#{flat.city_slug}" %>); height: 50vh; background-position: center;">
</div>

<div class="header-flat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="header-flat-details">
          <div class="header-flat-owner  text-center">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", width: "80", class: "img-circle"%>
            <!-- <img src="https://kitt.lewagon.com/placeholder/users/papillard" class="img-circle" width="80" alt="Papillard"> -->
            <p><%= "#{owner}" %></p>
          </div>
          <div class="header-flat-name">
            <h1><%= flat.description %></h1>
            <p><%= flat.city_name %></p>
            <% flat.rating.times do |element|%>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <% end %>
            <% (5 - flat.rating).times do |element|%>
            <i class="fa fa-star" style="color: #cacccd"></i>
            <% end %>
            <!-- <p class="rating">
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #cacccd"></i>
                <i class="fa fa-star" style="color: #cacccd"></i>
            </p> -->
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <form action="#">
          <h4>Book this flat</h4>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="checkin" id="checkin">
              </div>
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="checkout">
              </div>
            </div>
          </div>
          <div class="form-group">
            <select name="" id="guests" class="form-control">
              <option value="1">1 guest</option>
              <option value="2">2 guests</option>
              <option value="3">3 guests</option>
            </select>
          </div>
          <input type="submit" class="btn btn-danger" value="Book it" style="width: 100%">
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Inject flat data in template -->
<!-- <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", width: "80", class: "img-circle"%>
<p><%= flat.name %></p>
<h1><%= flat.description %></h1>
<p><%= flat.city_name %></p> -->
